<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>log website</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
  </head>
  <body>

    {% include 'menu.html' %}
 
    <div id="articles">
            <ul>

        {% for article in articles %}
            <li>
                <a href="{{ url_for('index', _external=False) }}{{ article.path }}">
                    <h2 class="{{article.cat}}">{{article.title}}</h2>
                </a>
                    <span class="categorie"><a href="{{ url_for('index', _external=False) }}cat/{{article.cat}}">{{article.cat}}</a></span>
                    <span class="author"><a href="{{ url_for('index', _external=False) }}author/{{article.author}}">{{ article.author }}</a></span>
                    <span class="date">{{ article.published }}</span>
            </li>
        {% endfor %}

            </ul>
    </div>

    <script src="index.js"></script>
  </body>
</html>
