<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>log website</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
  </head>
  <body>

    {% include 'menu.html' %}

    <div id="content-wrapper">
        <h1>{{ page.title }}</h1>
        <div id="content">
            PAGE PAS SINGLE
            {{ page }}
        </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
